<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</head>

<body>

  <div id="alert-message-container"
    class="d-none position-absolute mt-5 top-0 start-50 translate-middle-x alert alert-warning" role="alert">
    <div id="alert-message-text">Alert appears here</div>
  </div>

  <input type="hidden" name="access-token" id="access-token" value="{{ test_token }}">
  <p class="h1 text-center">OStore</p>
  <p class="text-center">An Open-source Object Storage Solution</p>
  <div id="user-auth">
    <div id="login-page">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="text-center" id="login-form-heading" data-role="login">Login</h3>
              </div>
              <div class="card-body">
                <form method="post" id="login-form">
                  <div class="mb-3">
                    <label for="username" class="form-label">Email Address</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password">
                  </div>
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                </form>
                <p class="text-center mt-2" id="alt-register-message">New here? <a class="link" href="#"
                    onclick="show('register')">Register</a></p>
                <p class="text-center mt-2 d-none" id="alt-login-message">Already a user? <a class="link" href="#"
                    onclick="show('login')">Login</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-none" id="files-dashboard">
    <div class="container mt-2">
      <div class="container">
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="text-center">Upload File</h3>
                </div>
                <div class="card-body">
                  <form id="uploadForm">
                    <div class="mb-3">
                      <label for="fileInput" class="form-label">Choose a file to upload</label>
                      <input type="file" class="form-control" id="fileInput" accept=".txt,.pdf,.doc,.docx">
                    </div>
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h3 class="text-center mb-3">Uploaded Files</h3>
    <div id="list-files" class="container"></div>
  </div>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>